.table-dynamic {
	table-layout: fixed;
}

.table-container {
	overflow: hidden !important;
}

.MuiTableCell-sizeSmall {
	padding: 6px 16px !important;
}
.MuiInputAdornment-positionStart {
	margin: 0 !important;
}
