.print-page-first {
	display: flex;
	flex-direction: column;
	align-items: center;
	page-break-after: always;
	margin-top: 45%;
}

.print-title {
	font-size: 3rem;
	font-weight: 700;
}

.print-title-period {
	font-size: 2rem;
	font-weight: 700;
}

.print-container {
	width: 100%;
}
