.print-page-first {
	display: flex;
	flex-direction: column;
	align-items: center;
	page-break-after: always;
	margin-top: 40%;
}

.print-title {
	font-size: 3rem;
	font-weight: 700;
}

.print-title-period {
	font-size: 2rem;
	font-weight: 700;
}

.print-container {
	width: 100%;
}

.print-section-title {
	font-size: 2rem;
	font-weight: 700;
	grid-row: span 3;
	margin: 0 1rem;
	border-bottom: dashed 1px gray;
}
