.search-container {
  margin: 5vh auto 0 auto;
  width: 60vw;
  background-color: white;
}

.tab-row-container {
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
}

.add-tab-dates-container {
  justify-content: space-between;
  display: flex;
  min-width: 400px;
}

.tab-container {
  display: flex;
  flex-direction: column;
}

.add-tab-date {
  /* margin-right: 1em; */
}
