.report-form-container {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

@media print {
	.report-form-edit {
		display: none;
	}
	.report-form-print {
		display: block;
	}
}

@media screen {
	.report-form-print {
		display: none;
	}
}

.section-contents{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
}

.report-header-container{
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.report-container{
	padding:1.5rem;
}