.report-header button {
  padding: 1vh 1vw;
}

.report-title {
  display: flex;
  align-items: center;
}

.report-title-period {
  margin: 1vh 2vw;
  width: 10rem;
}

/* @media print {
	.report-form-edit {
		display: none;
	}
	.report-form-print {
		display: block;
	}
} */

/* @media screen {
	.report-form-print {
		display: none;
	}
} */

.report-container {
  padding: 1rem 1.5rem;
}

.form-field {
  margin: 1vh 2vw !important;
  width: 20vw;
}

/* table field */
.no-margin-field {
  width: 8vw;
}

.section-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}

/* each row in the form */
.section-contents > div {
  display: flex;
  align-items: center;
  padding: 0 1vw;
}

.section-contents .form-field-label {
  max-width: 40vw;
  min-width: 10vw;
}

.table-row-disabled-icon {
  opacity: 0.5;
}
.table-row-icon:hover {
  color: #000000c0;
  cursor: pointer;
}
